@import "tailwindcss";

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);  /* Zmenené z 360deg na -360deg pre opačnú rotáciu */
    }
}

.animate-spin-slow {
    animation: spin-slow 3s linear infinite;
}
